@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Nunito:wght@400;600;700&family=Poppins:wght@500&display=swap');
:root{
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background: #fff;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}


header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
     margin-top: 0;
     margin-bottom: 0;
}

header .logo img{
    height: 55px;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
    bottom: 0;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(90deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

}
#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;

}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--green);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}
body{
    background-color: #f4dfd6;
}

#center{
    background-color: rgb(147, 241, 194);
    width:35%;
    height:50em;
    border-radius: 1em;
    box-shadow: 3px 3px #666;
    text-align: center;
    align-items: start;
  
}
#btn{
    height: 5%;
    width: 30%;
    padding: 2%;
    margin-top: 5%;
    background-color:rgb(236, 155, 155)  ;
    border-radius: 5px;
    box-shadow: #666 1px 1px;
    cursor: pointer;
     
    
}
#btn:hover{
    background-color: #27ae60;
}
.card{
    width:30%;
    height: 20em;
    background-color:white ;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 3px 3px #666;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1em;
   
}
.card .card-header{
    margin-top: 2em;
}
.card .card-footer{
    border-top: 1px solid black;
}
.card .card-header .image_icon{
    width: 10em;
    height:10em;
  
}
.card .card-footer{
    display: flex;
    text-align: center !important;
    
}
.card .card-footer .link .imageMedia{
    margin-left: 1em;
    margin-top: 2em;
    position: relative;
    left: 280%; 
}
.about-us{
    font-size: 20px;
    text-indent: 30px;
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 40px;
    color: white;
    text-align: justify;
    padding: 80px;
  
}
#main{
    background-image: url(../img/abg.jpg);
    background-size: cover;
    margin-top: 3rem;
    height: auto;
}
.title{
    text-align: center;
    font-size: 35px;
    font-family: Work Sans;
    color: rgb(209, 247, 209);
 
}
.treep{
    margin-left: 50rem;
    
}

 




















@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
    h1{
        font-size: medium;
    }
    .card .card-footer .link .imageMedia{
      
        margin-top: 2em;
        position: relative;
        left: 6em;
      
    }

    .treep{
        margin-left: 34rem;
        
    }
   
}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
    }

    .treep{
        margin-left: 34rem;
         
        
    }



 




















    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
    #btn{
        height: 3%;
        width: 6em;
        padding: 2%;
        margin-top: 1%;
       
        
    }
    textarea{
        margin-top: 5% !important;
    }
    h1{
        font-size: small;
    }
    .card .card-footer .link .imageMedia{
       
        margin-top: 2em;
        position: relative;
        left: 3em;
        width: 50%;

      
    }
    .container{
        display: inline-block;

    }
    #left{
       width: 30%;
       height: 75em;
       position:absolute;
       left: 10%;
       top: 5%;
       background-color: #f4dfd6 !important ;
    }
    #center{
        position:absolute;
        left: 45%;
        top: 23%;
        width: 50%;
        height:70%;
    }
    #right{
        position:absolute;
        right: -10%;
    }
    #left .card{
        position: relative;
        right: 0%;
        bottom: -20%;
        margin-top: 10%;
        width: 80%;
        height: 17em;
    }
     .card .card-header .image_icon{
        width:8em;
        height:8em;
     }
     .card .card-header{
        position:relative;
        top: 2em;
     }
     .card .card-body{
        position:relative;
        top:2em;
     }
     .card .card-footer{
        position:relative;
        top:2em;
     }
    
    
}
    
@media (max-width:991px){
    html{
        font-size: 50%;
    }

       #btn{
        height: 3%;
        width: 6em;
        padding: 2%;
        margin-top: 1%; 
    }

    .treep{
        margin-left: 30rem;
        
    }
}

/* footer */


.footer{
    padding: 10px 0;
    background: #11522c;
    color: #fff;
}

.footer .social{
    text-align: center;
}

.footer .social a i{
    color: #fff;
    text-align: center;
    padding-bottom: 25px;
}

.footer .social a{
    font-size: 12px;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.4;
    
}

.footer .social a:hover{
     
    opacity: 1;
   
}

.footer .social a i:hover{
    color: black;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;

}

.footer ul li a{
    color: #fff;
    text-decoration: none;
    opacity: .4;

    
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
     
}

.footer ul li a:hover{
    color: #fff;
    opacity: 1;
}


.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}


.news{
    background:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*display: none;*/
    transition: all 0.3s ease;
}


.news .cancel-btn{
    position: absolute;
    right: 20px;
    color: black;
    font-size: 16px;
}


.news .iconNew{
    height: 110px;
    width: 110px;
    background: #27ae60;
    line-height: 110px;
    border-radius: 50%;
    font-size: 55px;
    color: #fff;
    margin-top: 40px;
}

.news .newContent{
    margin: 20px 0;
}


.newContent header{
    font-size: 25px;
    font-weight: 100;
    color: #333;
    text-align: center;
}

.newContent p{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin-left: -3px ;
}


form{
    width: 98%;
}

form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 12px;
}

form .field input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 15px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

form .field input:focus{
    border-color: #27ae60;
}


form  .btn{
    height: 47px;
    margin-top: 50px;
}

form  .btn button{
    background: #27ae60;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    cursor: pointer;
}

.news .txt{
    margin-top: 5px;
}